<div layout="column">
    <div layout="row" layout-align="center start">
        <h1>search for points of interests</h1>
    </div>
    <div layout="row" layout-align="space-around start">

        <md-input-container style="width: 20%">
            <label>search point of interest by name:</label>
            <input ng-model="vm.text" ng-change="vm.filterByName()" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float md-block" style="width: 20%">
            <label> filter by category: </label>
            <md-select ng-model="vm.chosenCategory" ng-change="vm.filterByCategory()">
                <md-option ng-value="category" ng-repeat="category in vm.categories">
                    {{category}}
                </md-option>
                <md-option ng-value="category"> {{"No filtering"}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-icon-float md-block" style="width: 20%">
            <label> order by rank: </label>
            <md-select ng-model="vm.rank" ng-change="vm.filterByRank()">
                <md-option ng-value="true"> true</md-option>
                <md-option ng-value="false"> false</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row" layout-align="center start">
        <md-button class="md-raised md-primary" ng-click="vm.SaveUserOrder()" ng-disabled="vm.disableSaveButton">Save Order</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.ChangeUserOrder()">Change Order</md-button>
    </div>
    <div ng-if="vm.changeOrder && !vm.saveOrder" layout="row" layout-align="center start">
        <md-input-container style="width: 30%" >
            <h1 style="text-align: center; font-size: 20px">
            example for 3 favorite POIs: 3,1,2.
            This will put your number 1 POI at third place, your number 2 POI in first place and your
            number 3 POI in second place.
            please use numbers separated by commas.</h1>
            <br>
            <input ng-model="vm.orderInput" type="text">
        </md-input-container>
    </div>

</div>

<div ng-if="!vm.filteredName && !vm.filteredCategory && !vm.filteredRank && !vm.changeOrder">
    <md-grid-list md-cols="3" md-gutter="4em" md-row-height="2:2">
        <md-grid-tile ng-repeat="poi in vm.pois">
            <md-card style="height: 350px; width: 350px">
                <div layout="row" layout-align="space-around center" flex>
                    <md-card-content>
                        <h3 ng-click="vm.getPOIinformation(poi)" style="font-size: 18px">{{poi['poiName']}}</h3>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-if="!vm.isSaved(poi)" class="md-icon-button" aria-label="Favorite" ng-click="vm.addToFavorites(poi.poiId)">
                            <md-icon name="favorite_icon" md-svg-icon="metadata/icons/star-empty.svg"></md-icon>
                        </md-button>
                        <md-button ng-if="vm.isSaved(poi)" class="md-icon-button" aria-label="Favorite" ng-click="vm.removeFromFavorites(poi.poiId)">
                            <md-icon name="favorite_icon" md-svg-icon="metadata/icons/star-filled.svg"></md-icon>
                        </md-button>
                    </md-card-actions>
                </div>
                <img ng-click="vm.getPOIinformation(poi)" ng-src="metadata/POIpictures/{{poi['poiPicture']}}.jpg"
                     class="md-card-image">
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>

<div ng-if="vm.filteredName && !vm.filteredCategory && !vm.filteredRank">
    <md-grid-list md-cols="3" md-gutter="4em" md-row-height="2:2">
        <h3 style="text-align: center" ng-if="vm.pois.length === 0"> Could not find any Point Of Interest that its name
        contains {{vm.text}}</h3>
        <md-grid-tile ng-if="vm.pois.length > 0" ng-repeat="poi in vm.pois">
            <md-card style="height: 350px; width: 350px">
                <div layout="row" layout-align="space-around center" flex>
                    <md-card-content>
                        <h3 ng-click="vm.getPOIinformation(poi)" style="font-size: 18px">{{poi['poiName']}}</h3>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-if="!vm.isSaved(poi)" class="md-icon-button" aria-label="Favorite" ng-click="vm.addToFavorites(poi.poiId)">
                            <md-icon name="favorite_icon" md-svg-icon="metadata/icons/star-empty.svg"></md-icon>
                        </md-button>
                        <md-button ng-if="vm.isSaved(poi)" class="md-icon-button" aria-label="Favorite" ng-click="vm.removeFromFavorites(poi.poiId)">
                            <md-icon name="favorite_icon" md-svg-icon="metadata/icons/star-filled.svg"></md-icon>
                        </md-button>
                    </md-card-actions>
                </div>
                <img ng-click="vm.getPOIinformation(poi)" ng-src="metadata/POIpictures/{{poi['poiPicture']}}.jpg"
                     class="md-card-image">
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>

<div ng-if="!vm.filteredName && vm.filteredCategory && !vm.filteredRank">
    <md-grid-list md-cols="3" md-gutter="4em" md-row-height="2:2">
        <md-grid-tile ng-repeat="poi in vm.poisOfCategory">
            <md-card style="height: 350px; width: 350px">
                <div layout="row" layout-align="space-around center" flex>
                    <md-card-content>
                        <h3 ng-click="vm.getPOIinformation(poi)" style="font-size: 18px">{{poi['poiName']}}</h3>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-if="!vm.isSaved(poi)" class="md-icon-button" aria-label="Favorite" ng-click="vm.addToFavorites(poi.poiId)">
                            <md-icon name="favorite_icon" md-svg-icon="metadata/icons/star-empty.svg"></md-icon>
                        </md-button>
                        <md-button ng-if="vm.isSaved(poi)" class="md-icon-button" aria-label="Favorite" ng-click="vm.removeFromFavorites(poi.poiId)">
                            <md-icon name="favorite_icon" md-svg-icon="metadata/icons/star-filled.svg"></md-icon>
                        </md-button>
                    </md-card-actions>
                </div>
                <img ng-click="vm.getPOIinformation(poi)" ng-src="metadata/POIpictures/{{poi['poiPicture']}}.jpg"
                     class="md-card-image">
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>

<div ng-if="!vm.filteredName && !vm.filteredCategory && vm.filteredRank">
    <md-grid-list md-cols="3" md-gutter="4em" md-row-height="2:2">

        <md-grid-tile ng-repeat="poi in vm.pois">
            <span style="font-size: x-large">{{$index + 1}}</span>
            <md-card style="height: 350px; width: 350px">
                <div layout="row" layout-align="space-around center" flex>
                    <md-card-content>
                        <h3 ng-click="vm.getPOIinformation(poi)" style="font-size: 18px">{{poi['poiName']}}</h3>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-if="!vm.isSaved(poi)" class="md-icon-button" aria-label="Favorite" ng-click="vm.addToFavorites(poi.poiId)">
                            <md-icon name="favorite_icon" md-svg-icon="metadata/icons/star-empty.svg"></md-icon>
                        </md-button>
                        <md-button ng-if="vm.isSaved(poi)" class="md-icon-button" aria-label="Favorite" ng-click="vm.removeFromFavorites(poi.poiId)">
                            <md-icon name="favorite_icon" md-svg-icon="metadata/icons/star-filled.svg"></md-icon>
                        </md-button>
                    </md-card-actions>
                </div>
                <img ng-click="vm.getPOIinformation(poi)" ng-src="metadata/POIpictures/{{poi['poiPicture']}}.jpg"
                     class="md-card-image">
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>

<div ng-if="!vm.filteredName && !vm.filteredCategory && !vm.filteredRank && vm.changeOrder">
    <md-grid-list md-cols="3" md-gutter="4em" md-row-height="2:2">
        <md-grid-tile ng-repeat="poi in vm.pois">
            <span ng-if="!vm.saveOrder" style="font-size: x-large">{{$index + 1}}</span>
            <md-card style="height: 350px; width: 350px">
                <div layout="row" layout-align="space-around center" flex>
                    <md-card-content>
                        <h3 ng-click="vm.getPOIinformation(poi)" style="font-size: 18px">{{poi['poiName']}}</h3>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-if="!vm.isSaved(poi)" class="md-icon-button" aria-label="Favorite" ng-click="vm.addToFavorites(poi.poiId)">
                            <md-icon name="favorite_icon" md-svg-icon="metadata/icons/star-empty.svg"></md-icon>
                        </md-button>
                        <md-button ng-if="vm.isSaved(poi)" class="md-icon-button" aria-label="Favorite" ng-click="vm.pemoveFromFavorites(poi.poiId)">
                            <md-icon name="favorite_icon" md-svg-icon="metadata/icons/star-filled.svg"></md-icon>
                        </md-button>
                    </md-card-actions>
                </div>
                <img ng-click="vm.getPOIinformation(poi)" ng-src="metadata/POIpictures/{{poi['poiPicture']}}.jpg"
                     class="md-card-image">
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>








</div>



