
<div layout="column">
    <h3 layout="row" layout-align="center start"
        style="font-family: 'Calibri'; margin:1% 0 0 0; font-size: 56px;">
        Paris - The City Of Lights
    </h3>
    <h4 layout="row" layout-align="center start">All that you need to know about Paris</h4>

    <p style="font-family: 'Calibri'; font-size: 24px; text-align: center" >The most visited tourist destination in the world, with over 45 million visitors annually, it is very easy to arrive in Paris with huge expectations: of grand vistas, of budding writers in every cafe, of romance on the Seine and rude waiters.

        It is easy to see in Paris the city of love, or the city of lights. But it is also important to see in it the city that has seen 4 revolutions (to date), 18 kings named Louis and at least 2 occupying forces. Learn all about Paris with our helpful travel guide.

        And this is not even all there is to know about Paris. Outside of the well beaten path of the Eiffel Tower and Notre Dame, there are 20 arrondissements to explore, each with their own character and version of Parisian life.
    </p>

</div>

<div layout="row">
    <img src="metadata\POIpictures\7.jpg" alt="Italian Trulli">
    <img src="metadata\POIpictures\12.jpg" alt="Italian Trulli">
    <img src="metadata\POIpictures\20.jpg" alt="Italian Trulli">
</div>